{% extends 'base.html.twig' %}

{% block class_projets %}projet-actif{% endblock %}
{% block class_propos %}inactive{% endblock %}
{% block class_contact %}inactive{% endblock %}


{% block body %}
	<div class="">
		<div class="row un-projet">
			<div class="small-12 medium-8 columns pl0">
				<img src="{{ images is defined and images is iterable ? images[0].thumbnailUrl : '' }}" alt="">
			</div>
			<div class="small-12 medium-4 columns">
				<h1>{{ project.title }}</h1>
				
				<article>
					{{ project.article|raw }}
				</article>
			</div>
		</div>
		
		<div class="row projet-img">
			{% for image in images %}
					<div style="background-image: url({{ image.thumbnailUrl }})" data-src="{{ image.thumbnailUrl }}"></div>
			{% endfor %}
		</div>
	</div>
{% endblock %}