{% extends "@RibsAdmin/base.html.twig" %}

{% block title_page %}
	<h1>Blog</h1>
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('build/ribs-admin-bundle/css/tynimce_skin.css') }}">
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('build/ribs-admin-bundle/css/tynimce_perso.css') }}">
{% endblock %}

{% block body %}
	{{ form_start(form) }}
	<div class="top-buttons">
		{{ form_widget(form.submit) }}
		<a href="{{ path('ribsadmin_portfolio_index') }}" class="delete">Annuler</a>
	</div>
	
	<div class="content-block">
		<h2>Informations pour le référencement</h2>
		
		<div class="block mid-width">
			{{ form_label(form.titleTag) }}
			{{ form_widget(form.titleTag) }}
		</div>
		
		<div class="block mid-width">
			{{ form_label(form.url) }}
			{{ form_widget(form.url) }}
		</div>
		
		<div class="block no-input">
			{{ form_label(form.descriptionTag) }}
			{{ form_widget(form.descriptionTag) }}
		</div>
	</div>
	
	<div class="content-block">
		<h2>Informations du projet</h2>
		
		<div class="block mid-width">
			{{ form_label(form.title) }}
			{{ form_widget(form.title) }}
		</div>
		
		<div class="block mid-width">
			{{ form_label(form.description) }}
			{{ form_widget(form.description) }}
		</div>
	</div>
	
	<div class="content-block">
		<h2>Description du projet</h2>
		
		<div class="block no-input">
			{{ form_widget(form.article) }}
		</div>
	</div>
	{{ form_end(form) }}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script>const toolbar = 'text-only';</script>
	<script src="{{ asset('build/ribs-admin-bundle/js/tinymce.js') }}"></script>
{% endblock %}